//
//  Secrets.xcconfig
//  Aira
//
//  Created by fajer on 18/12/1447 AH.
//

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project
//AMBEE_API_KEY = 66ace5938b3431834d9944765fe84efb9397c3a26a5a86e7df044ffe40bdac28
AMBEE_API_KEY = 8e71e986d6701284570bab4d1e9281f6de37e5f042817b7e714de0017a00b3a0
AIRVISUAL_API_KEY = 28041d9a-fef0-4030-92e4-dc7d08fa2363
