//
//  Secrets.xcconfig
//  Aira
//
//  Created by fajer on 18/12/1447 AH.
//

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project
//AMBEE_API_KEY = 66ace5938b3431834d9944765fe84efb9397c3a26a5a86e7df044ffe40bdac28
AMBEE_API_KEY = 601ea102bd9708697d1e2bacc458132611b042dfc49cab5166b2fa3d240ff826
AIRVISUAL_API_KEY = 28041d9a-fef0-4030-92e4-dc7d08fa2363
